:root {
  --choco: #714116;
  --vanilla: #ede7d4;
  --vanilla-light: #f6f4e1;
  --berry: #e06766;
  --berry-light: #e195a5;
  --whipcream: #ffecf1;
  --honey: #ffa500;
  --soda: #95a5e1;
  --mint: #95e1a5;
}
